#primeira {
    height: 100px;
    /* background-color: blue; */

    border-width: 3px;
    border-style:dotted;
    border-color: red yellow green blue;
    border-radius: 15px;

    /*
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 20px; */

    padding: 20px 50px 70px 20px;
}

#segunda {
    height: 100px;
    /* background-color: red; */

    border-width: 2px;
    border-style: dashed;
    border-radius: 15px;

    /* 
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 200px;
    margin-right: 100px; 
    */

    margin: 20px 100px 0 50px;
}

#terceira {
    height: 100px;
    /* background-color: green; */
    
    border-width: 5px;
    border-style:double;
    border-radius: 15px;
}

p{
    border: 3px solid green;

    margin-top: 0;
}