#fotoBastidor{
    width: 5cm;
}

#fotoBastidor2{
    width: 50mm;
}

#fotoBastidor3{
    width: 3in;
}

#fotoBastidor4{
    width: 288px;
}

#fotoBastidor5{
    width: 120pt;
}

#fotoBastidor6{
    width: 10pc;
}