p{
    color: pink;
    background-color: yellow;
}

.fundo-azul{
     /* color: aqua; */
    background-color: #1100ff; 
}

#paragrafo1 {
    color: rgba(255, 100, 0, 0.5); 
     background-color: transparent; 
}